BOT_TOKEN=
FILE_PASSWORD=
GOOGLE_DRIVE_FOLDER_ID=
ALLOWED_CHAT_IDS=
COOKIE_PATH=
OUTPUT_DIR=
TWITTER_OUTPUT_DIR=
TARGET_SIZE_MB=
GOOD_QUALITY_SIZE_LIMIT_MB=
SPLIT_VIDEO_IF_ITS_TOO_LARGE=false|true
WEBPAGE_OUTPUT_DIR=
WEBPAGE_PDF_TIMEOUT_MS=
GITHUB_OUTPUT_DIR=